* {
  margin: 0;
}

body {
  background-color: #121079;
  color: #fff;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 16px;
}
header{
  position: relative;
  text-align: center;
  padding: 1rem 0;
  margin: 0 auto;
}
main{
  margin: 5rem auto;
  width: 40%;
}
#search {
  width: 100%;
  display:flex;
  justify-content: center;
}
button{
  width: 20%;
  justify-content: flex-end;
  background-color: #03b8a0;
  padding: 11px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  border: none;
  cursor: pointer;
}
button:hover{
  transform: scale(1.1);
}
input{
  width: 60%;
  font-size: 16px;
  font-weight: 600;
  background-color: rgba(255, 255, 255, .75);
  border: none;
}
footer{
  position: relative;
  height: 2rem;
  width: 100%;
  text-align: center;
}
.results {
  background-color: rgba(255, 255, 255, .75);
  color: #000;
  margin: 5rem 3rem;
  padding: 3rem;
}
ol{
  list-style: none;
}